{% extends 'main.html' %}
{% load static %}
{% block content %}


    <div class="container-fluid">

    <div class="search">
        <input type="text" class="searchbox" placeholder="Search...">
        <input type="submit" value="Search" class="searchButton">
        <a href="{% url 'add-room' %}"><button class="searchButton">Add Classroom </button></a>

    </div>


	<div class="table-responsive-lg">


        <table class="table-primary">
        <table class="table table-primary table-hover">
            <thead class="thead-primary">
			<tr>
                <div class="header__item filter__link" >
                   <th scope="col" class="text-center">Room ID</th>

                </div>
                <div class="header__item filter__link">
                  <th class="text-center" scope="col">Room name</th>

                </div>
                <div class="header__item filter__link">
                   <th class="text-center" scope="col">room max students</th>

                </div>

                <div class="header__item filter__link">
                    <th class="text-center" scope="col"> Update</th>

                </div>
                <div class="header__item filter__link">
                     <th class="text-center" scope="col">Delete</th>

                </div>
			</tr>
            </thead>



                {% for room in rooms %}

				<tr>


                        <th scope="row" class="table-light text-center">{{ room.room_id }}</th>


						<th scope="row" class="table-primary text-center"  >{{ room.room_name }}</th>

						<th scope="row" class="table-light text-center"> {{ room.room_max_students}}</th>


                        <th scope="row" class="table-primary text-center"> <a href="{% url 'update-room'  room.room_id  %}" class="btn btn-sm btn-info">Update</a></th>

                        <th scope="row" class="table-light text-center"> <a href="{% url 'delete-room' room.room_id  %}" class="btn btn-sm btn-danger" >Remove</a></th>

					</tr>


                {% endfor %}
            </tbody>
        </table>
</div>

    </div>



{% endblock %}

