{% extends 'main.html' %}
{% load static %}
{% block content %}


    <div class="container-fluid">

    <div class="search">
        <input type="text" class="searchbox" placeholder="Search...">
        <input type="submit" value="Search" class="searchButton">
        <a href="{% url 'add-teacher' %}"><button class="searchButton">Add Teacher </button></a>

    </div>


	<div class="table-responsive-lg">


        <table class="table-primary">
        <table class="table table-primary table-hover">
            <thead class="thead-primary">
			<tr>
                <div class="header__item filter__link" >
                   <th scope="col" class="text-center">Teacher ID</th>

                </div>
                <div class="header__item filter__link">
                  <th class="text-center" scope="col">Teacher Name</th>

                </div>
                <div class="header__item filter__link">
                  <th class="text-center" scope="col">Teacher Freetime</th>

                </div>

                <div class="header__item filter__link">
                    <th class="text-center" scope="col"> Update</th>

                </div>
                <div class="header__item filter__link">
                     <th class="text-center" scope="col">Delete</th>

                </div>
			</tr>
            </thead>



                {% for teacher in teachers %}

				<tr>


                        <th scope="row" class="table-light text-center">{{ teacher.teacher_id}}</th>


						<th scope="row" class="table-primary text-center"  >{{ teacher.teacher_name}}</th>

                        <th scope="row" class="table-light text-center"  >
                            {% for frtime in teacher.freetimes.all %}
                            <p>{{ frtime.domaine }}</p>
                            {% endfor %}
                        </th>


                        <th scope="row" class="table-primary text-center"> <a href="{% url 'update-teacher' teacher.teacher_id %}" class="btn btn-sm btn-info">Update</a></th>

                        <th scope="row" class="table-light text-center"> <a href="{% url 'delete-teacher' teacher.teacher_id %}" class="btn btn-sm btn-danger" >Remove</a></th>

					</tr>


                {% endfor %}
            </tbody>
        </table>
</div>

    </div>



{% endblock %}

