{% extends 'main.html' %}
{% load static %}
{% block content %}


    <div class="container-fluid">

    <div class="search">
        <input type="text" class="searchbox" placeholder="Search...">
        <input type="submit" value="Search" class="searchButton">
        <a href="{% url 'generate-timetable' %}"><button class="searchButton">Generate New Timetable </button></a>

    </div>


	<div class="table-responsive-lg">


        <table class="table-primary">
        <table class="table table-primary table-hover">
            <thead class="thead-primary">
			<tr>
                <div class="header__item filter__link" >
                   <th scope="col" class="text-center">Timetable ID</th>

                </div>
                <div class="header__item filter__link">
                  <th class="text-center" scope="col">TimetableName</th>

                </div>
                <div class="header__item filter__link">
                   <th class="text-center" scope="col">Created On</th>

                </div>
               <div class="header__item filter__link">
                    <th class="text-center" scope="col"> view Timetable</th>

                </div>
                <div class="header__item filter__link">
                    <th class="text-center" scope="col"> Update name</th>

                </div>
                <div class="header__item filter__link">
                     <th class="text-center" scope="col">Delete</th>

                </div>
			</tr>
            </thead>



                {% for timetable in timetables %}

				<tr>


                        <th scope="row" class="table-light text-center">{{ timetable.timetable_id}}</th>


						<th scope="row" class="table-primary text-center"  >{{ timetable.timetable_name}}</th>

						<th scope="row" class="table-light text-center"> {{ timetable.date_creation }}</th>

                        <th scope="row" class="table-primary text-center"> <a href="{% url 'timetable' timetable.timetable_id %}" class="btn btn-sm btn-info">View Timetable</a></th>


                        <th scope="row" class="table-light text-center"> <a href="{% url 'update-timetable' timetable.timetable_id%}" class="btn btn-sm btn-warning">Update Name</a></th>

                        <th scope="row" class="table-primary text-center"> <a href="{% url 'delete-timetable' timetable.timetable_id %}" class="btn btn-sm btn-danger" >Remove</a></th>

					</tr>


                {% endfor %}
            </tbody>
        </table>
</div>

    </div>



{% endblock %}
