<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,600,700,700i&amp;subset=latin-ext" rel="stylesheet">
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/tables.css' %}" rel="stylesheet">
    <link href="{% static 'css/add.css' %}" rel="stylesheet">
    <link href="{% static 'css/nav.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" src="extensions/sticky-header/bootstrap-table-sticky-header.css">
    <script src="extensions/sticky-header/bootstrap-table-sticky-header.js"></script>
    <script type="text/javascript" src="jspdf.debug.js"></script>
     <!-- Website Title -->
    <title>Timetable | CSP </title>


	<!-- Favicon  -->
    <link rel="icon" href="{% static 'media/ensias.png' %}">


</head>
<body>



            <nav id="header"  class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">


                    <button class="btn d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>


                    <div class="collapse navbar-collapse collapse" data-toggle="collapse" aria-expanded="false"  id="navbarSupportedContent">


                         <!-- Navigation -->

    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">


        <!-- Text Logo - Use this if you don't have a graphic logo -->
        <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Evolo</a> -->

        <!-- Image Logo -->
       <a  href="#"><img src="{% static 'media/ensias.png' %}" alt="alternative"></a>

        <!-- Mobile Menu Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-awesome fas fa-bars"></span>
            <span class="navbar-toggler-awesome fas fa-times"></span>
        </button>
        <!-- end of mobile menu toggle button -->

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="{% url 'list-subject' %}">Subjects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="{% url 'list-teacher' %}">Teachers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="{% url 'list-room' %}">Classrooms</a>
                </li>
				<li class="nav-item">
                    <a class="nav-link page-scroll" href="{% url 'list-speciality' %}">Specialities</a>
                </li>

                <!-- Dropdown Menu -->
                <li class="nav-item dropdown">
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="terms-conditions.html"><span class="item-text">Terms Conditions</span></a>
                        <div class="dropdown-items-divide-hr"></div>
                        <a class="dropdown-item" href="privacy-policy.html"><span class="item-text">Privacy Policy</span></a>
                    </div>
                </li>
                <!-- end of dropdown menu -->


            </ul>

            </span>
        </div>
    </nav> <!-- end of navbar -->
    <!-- end of navigation -->




                            <li class="nav-item text-center active">
                                <a class="nav-link link" href="{% url 'home' %}">Home</a>
                            </li>
                            <li class="nav-item text-center">
                                <a class="nav-link link" href="{% url 'list-subject' %}">Subjects</a>
                            </li>
                            <li class="nav-item text-center">
                                <a class="nav-link link" href="{% url 'list-teacher' %}">Teachers</a>
                            </li>

                            <li class="nav-item text-center">
                                <a class="nav-link link"  href="{% url 'list-room' %}">Classrooms </a>
                            </li>
                            <li class="nav-item text-center">
                                <a class="nav-link link" href="{% url 'list-speciality' %}">Specialities</a>
                            </li>

                            <a class="logout text-center" style="" href="# >
                            <li class="nav-item text-center"></li>
                                Logout
                            </a>



                        </ul>
                    </div>
                </div>
            </nav>

         </div>


    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>





        {% block content %}





        {% endblock %}
<script  src="{% static 'js/tables.js' %}" type="text/javascript"></script>
</body>
</html>