{% extends 'main.html' %}
{% load static %}
{% block content %}



    <div class="container">



      <div class="row mb-5">



    <div class="search">


        <input type="text" class="searchbox" placeholder="Search...">
        <input type="submit" value="Search" class="searchButton">
      <input type="button" value="Download as PDF"
            id="btPrint" class="searchButton" onclick="createPDF()" />
         <!--<input type="button" id="btnExport" value="Download to PDF" class="searchButton"onclick="Export()" />-->

         <button class="searchButton dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              View by
            </button>
            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                <li class="dropdown-item"><a href="{% url 'timetable' timetable.timetable_id %}">Global</a></li>
                <li class="dropdown-divider"></li>
                <li class="dropdown-submenu">
                  <a  class="dropdown-item" tabindex="-1" href="#">View by teacher</a>
                  <ul class="dropdown-menu">

                      {% for teacher in teachers %}


                    <li class="dropdown-item"><a href="{% url 'timetable-teacher' timetable.timetable_id teacher.teacher_id %}">{{teacher.teacher_name}}</a></li>
                      {% endfor%}
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a  class="dropdown-item" tabindex="-1" href="#">View by Speciality</a>
                  <ul class="dropdown-menu">

                    {% for speciality in specialities %}
                    <li class="dropdown-item"><a href="{% url 'timetable-speciality' timetable.timetable_id speciality.speciality_id %}">{{speciality.speciality_name}}</a></li>

                      {% endfor%}
                  </ul>
                </li>
              </ul>


    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
    <!--<script type="text/javascript">
        function Export() {
            html2canvas(document.getElementById('tab'), {
                onrendered: function (canvas) {
                    var data = canvas.toDataURL();
                    var docDefinition = {
                        content: [{
                            image: data,
                            width: 500
                        }]
                    };
                    pdfMake.createPdf(docDefinition).download("TimeTable.pdf");
                }
            });
        }
    </script>-->


<!--

<div class="container">
    <div class="timetable-img text-center">
        <img src="img/content/timetable.png" alt="">
    </div>

-->


    <div class="table-responsive" id ="tab">
        <table class="table table-bordered text-center">
            <thead>
            <tr class="bg-light-gray">
                <th class="text-uppercase">Time
                </th>
                <th class="text-uppercase">Monday</th>
                <th class="text-uppercase">Tuesday</th>
                <th class="text-uppercase">Wednesday</th>
                <th class="text-uppercase">Thursday</th>
                <th class="text-uppercase">Friday</th>

            </tr>
            </thead>
            <tbody>

            {% for timeSlot in timeSlots%}
            <br>
                <td class="align-middle">{{timeSlot}}</td>

                    {% for day in DAYS %}


                            <td>
                                {% for cl in classes %}

                            {% if cl.timeSlot == timeSlot %}
                                {% if cl.day == day %}


                                          <!--<span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13">Dance</span>
                                             <div class="margin-10px-top font-size14">9:00-10:00</div>-->

                                            <p> <div class="font-size13 text-secondary">{{ cl }}</div></p>
                                        {% endif %}
                                {% endif %}
                                    {% endfor%}

                            </td>
                     {% endfor%}
            </tr>
                {% endfor%}

               <!-- <td>

                    <span class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Yoga</span>
                    <div class="margin-10px-top font-size14">9:00-10:00</div>
                    <div class="font-size13 text-light-gray">Marta Healy</div>
                </td>

                <td>
                    <span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Music</span>
                    <div class="margin-10px-top font-size14">9:00-10:00</div>
                    <div class="font-size13 text-light-gray">Ivana Wong</div>
                </td>
                <td>
                    <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Dance</span>
                    <div class="margin-10px-top font-size14">9:00-10:00</div>
                    <div class="font-size13 text-light-gray">Ivana Wong</div>
                </td>
                <td>
                    <span class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Art</span>
                    <div class="margin-10px-top font-size14">9:00-10:00</div>
                    <div class="font-size13 text-light-gray">Kate Alley</div>
                </td>
                <td>
                    <span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">English</span>
                    <div class="margin-10px-top font-size14">9:00-10:00</div>
                    <div class="font-size13 text-light-gray">James Smith</div>
                </td>

            </tr>



            <tr>
                <td class="align-middle">10:00 - 11:20</td>
                <td>
                    <span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Music</span>
                    <div class="margin-10px-top font-size14">10:00-11:00</div>
                    <div class="font-size13 text-light-gray">Ivana Wong</div>
                </td>
                <td class="bg-light-gray">

                </td>
                <td>
                    <span class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Art</span>
                    <div class="margin-10px-top font-size14">10:00-11:00</div>
                    <div class="font-size13 text-light-gray">Kate Alley</div>
                </td>
                <td>
                    <span class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Yoga</span>
                    <div class="margin-10px-top font-size14">10:00-11:00</div>
                    <div class="font-size13 text-light-gray">Marta Healy</div>
                </td>
                <td>
                    <span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">English</span>
                    <div class="margin-10px-top font-size14">10:00-11:00</div>
                    <div class="font-size13 text-light-gray">James Smith</div>
                </td>
                <td class="bg-light-gray">

                </td>
            </tr>

            <tr>
                <td class="align-middle">11:40 - 13:00</td>
                <td>
                    <span class="bg-lightred padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Break</span>
                    <div class="margin-10px-top font-size14">11:00-12:00</div>
                </td>
                <td>
                    <span class="bg-lightred padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Break</span>
                    <div class="margin-10px-top font-size14">11:00-12:00</div>
                </td>
                <td>
                    <span class="bg-lightred padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Break</span>
                    <div class="margin-10px-top font-size14">11:00-12:00</div>
                </td>
                <td>
                    <span class="bg-lightred padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Break</span>
                    <div class="margin-10px-top font-size14">11:00-12:00</div>
                </td>
                <td>
                    <span class="bg-lightred padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Break</span>
                    <div class="margin-10px-top font-size14">11:00-12:00</div>
                </td>
                <td>
                    <span class="bg-lightred padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Break</span>
                    <div class="margin-10px-top font-size14">11:00-12:00</div>
                </td>
            </tr>

            <tr>
                <td class="align-middle">13:30 - 14:50</td>
                <td class="bg-light-gray">

                </td>
                <td>
                    <span class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Art</span>
                    <div class="margin-10px-top font-size14">12:00-1:00</div>
                    <div class="font-size13 text-light-gray">Kate Alley</div>
                </td>
                <td>
                    <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Dance</span>
                    <div class="margin-10px-top font-size14">12:00-1:00</div>
                    <div class="font-size13 text-light-gray">Ivana Wong</div>
                </td>
                <td>
                    <span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Music</span>
                    <div class="margin-10px-top font-size14">12:00-1:00</div>
                    <div class="font-size13 text-light-gray">Ivana Wong</div>
                </td>
                <td class="bg-light-gray">

                </td>
                <td>
                    <span class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Yoga</span>
                    <div class="margin-10px-top font-size14">12:00-1:00</div>
                    <div class="font-size13 text-light-gray">Marta Healy</div>
                </td>
            </tr>

            <tr>
                <td class="align-middle">15:00 - 16:20</td>
                <td>
                    <span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">English</span>
                    <div class="margin-10px-top font-size14">1:00-2:00</div>
                    <div class="font-size13 text-light-gray">James Smith</div>
                </td>
                <td>
                    <span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Music</span>
                    <div class="margin-10px-top font-size14">1:00-2:00</div>
                    <div class="font-size13 text-light-gray">Ivana Wong</div>
                </td>
                <td class="bg-light-gray">

                </td>
                <td>
                    <span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">English</span>
                    <div class="margin-10px-top font-size14">1:00-2:00</div>
                    <div class="font-size13 text-light-gray">James Smith</div>
                </td>
                <td>
                    <span class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Yoga</span>
                    <div class="margin-10px-top font-size14">1:00-2:00</div>
                    <div class="font-size13 text-light-gray">Marta Healy</div>
                </td>
                <td>
                    <span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Music</span>
                    <div class="margin-10px-top font-size14">1:00-2:00</div>
                    <div class="font-size13 text-light-gray">Ivana Wong</div>
                </td>
            </tr>
            <tr>
                <td class="align-middle">16:30 - 17:50</td>
                <td>
                    <span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">English</span>
                    <div class="margin-10px-top font-size14">1:00-2:00</div>
                    <div class="font-size13 text-light-gray">James Smith</div>
                </td>
                <td>
                    <span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Music</span>
                    <div class="margin-10px-top font-size14">1:00-2:00</div>
                    <div class="font-size13 text-light-gray">Ivana Wong</div>
                </td>
                <td class="bg-light-gray">

                </td>
                <td>
                    <span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">English</span>
                    <div class="margin-10px-top font-size14">1:00-2:00</div>
                    <div class="font-size13 text-light-gray">James Smith</div>
                </td>
                <td>
                    <span class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Yoga</span>
                    <div class="margin-10px-top font-size14">1:00-2:00</div>
                    <div class="font-size13 text-light-gray">Marta Healy</div>
                </td>
                <td>
                    <span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Music</span>
                    <div class="margin-10px-top font-size14">1:00-2:00</div>
                    <div class="font-size13 text-light-gray">Ivana Wong</div>
                </td>
            </tr>-->


            </tbody>
        </table>
    </div>


<style type="text/css">

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
body{
    margin-top:20px;
}
.bg-light-gray {
    background-color: #f7f7f7;
}
.table-bordered thead td, .table-bordered thead th {
    border-bottom-width: 2px;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}


.bg-sky.box-shadow {
    box-shadow: 0px 5px 0px 0px #00a2a7
}

.bg-orange.box-shadow {
    box-shadow: 0px 5px 0px 0px #af4305
}

.bg-green.box-shadow {
    box-shadow: 0px 5px 0px 0px #4ca520
}

.bg-yellow.box-shadow {
    box-shadow: 0px 5px 0px 0px #dcbf02
}

.bg-pink.box-shadow {
    box-shadow: 0px 5px 0px 0px #e82d8b
}

.bg-purple.box-shadow {
    box-shadow: 0px 5px 0px 0px #8343e8
}

.bg-lightred.box-shadow {
    box-shadow: 0px 5px 0px 0px #d84213
}


.bg-sky {
    background-color: #02c2c7
}

.bg-orange {
    background-color: #e95601
}

.bg-green {
    background-color: #5bbd2a
}

.bg-yellow {
    background-color: #f0d001
}

.bg-pink {
    background-color: #ff48a4
}

.bg-purple {
    background-color: #9d60ff
}

.bg-lightred {
    background-color: #ff5722
}

.padding-15px-lr {
    padding-left: 15px;
    padding-right: 15px;
}
.padding-5px-tb {
    padding-top: 5px;
    padding-bottom: 5px;
}
.margin-10px-bottom {
    margin-bottom: 10px;
}
.border-radius-5 {
    border-radius: 5px;
}

.margin-10px-top {
    margin-top: 10px;
}
.font-size14 {
    font-size: 14px;
}

.text-light-gray {
    color: #d6d5d5;
}
.font-size13 {
    font-size: 13px;
}

.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}
.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

</style>
<script>
    function createPDF() {
        var sTable = document.getElementById('tab').innerHTML;

        var style = "<style>";
        style = style + "table {width: 100%;font: 12px Calibri;}";
        style = style + "table, th, td {border: solid 1px #DDD; border-collapse: collapse;";
        style = style + "padding: 2px 3px;text-align: center;}";
        style = style + "</style>";

        // CREATE A WINDOW OBJECT.
        var win = window.open('', '', 'height=700,width=700');

        win.document.write('<html><head>');
        win.document.write('<title>Timetable</title>');   // <title> FOR PDF HEADER.
        win.document.write(style);          // ADD STYLE INSIDE THE HEAD TAG.
        win.document.write('</head>');
        win.document.write('<body>');
        win.document.write(sTable);         // THE TABLE CONTENTS INSIDE THE BODY TAG.
        win.document.write('</body></html>');

        win.document.close(); 	// CLOSE THE CURRENT WINDOW.

        win.print();    // PRINT THE CONTENTS.
    }

</script>
<!--<script type="text/javascript">
</script>-->
{% endblock %}
